table.bordered{
    border-collapse: collapse;
    th {
        border-bottom: 2px solid $dark-color;
    }

    tbody tr {
        border-top: 1px solid $dark-color-secondary;
    }

    th, td {
        padding: 8px 4px;
    }
}